site_name: xzqbear math notes
repo_url: https://github.com/xiong-ZH-zq/xzqbear-math-notes
repo_name: xzqbear-math-notes
theme:
  name: material
  custom_dir: overrides
  palette: 
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode
      primary: cyan

    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
      primary: blue grey
  features:
    - navigation.tabs
  font:
    text: PT Serif

markdown_extensions:
  - meta
  - nl2br
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tilde
  - pymdownx.arithmatex:
        generic: true
        
plugins:
  - search
  - callouts
extra_javascript:
  - javascripts/katex.js 
  # - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js
extra_css:
  - css/extra.css
  - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.7/katex.min.css

extra: 
  attachments: "imgs"

nav: 
  - Home: 
    - Intro: index.md
    - mkdocs搭建流程:  mkdocs notes/site build.md
  - NKU抽象代数:
    - 群论: abstract algebra/group theory/group.md
  - NKU数学分析:
    - 级数: 
      - 数项级数: Mathematical Analysis/Series/numerical series.md
      - 函数项级数: Mathematical Analysis/Series/function series.md